.Board {
	margin: auto;
	width: 100%;
	height: 100%;
	display: inline-grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 5%;
}
/* 
	gaps: 5% => total: 2 * 5% = 10% => remaining: 90%
	each row/column: 90% / 3 = 30%   (of Board's height and width respectively.)
 */