.game-header {
	display: grid;
	grid-template-columns: auto 10em;
	column-gap: 8vmin;
	justify-content: center;
	color: #DDD;
	z-index: 99;
}

.game-header > .players {
	font-size: 5vmin;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(2, auto) 1fr;
	row-gap: 0.5em;
	align-items: center;
}

.game-header > .players > img.bullet {
	width: 0.5em;
	height: 0.5em;
	margin-right: 0.25em;
	grid-column-start: 1;
	background: lightgray;
	mask: url(../media/bullet.svg) no-repeat;
	mask-size: contain;
}

.game-header > .players > .name {
	grid-column-start: 2;
	margin-right: 0.75em;
}

.game-header > .players > .score {
	color: white;
}

.game-header > .play-again {
	font-size: 4vmin;
	display: grid;
	grid-template-rows: repeat(2, auto);
	justify-items: center;
}

.icon-again {
	background: lightgray;
	width: 1.5em;
	height: 1.5em;
	mask: url(../media/again.svg);
	mask-size: contain;
}

.icon-again:hover {
  background: white;
}

.game-header > .play-again img {
	width: 1.5em;
	height: 1.5em;
	transform-origin: center center;
}


.animate
{
	animation-fill-mode: both;
	animation-timing-function: ease-in;
}

.animate.fast
{
	animation-duration: 0.150s;
}

/* @keyframes fadeIn
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeOut
{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.fadeOut {
    animation-name: fadeOut;
} */

.rotateIn {
    animation-name: rotateIn;
}
.rotateOut {
    animation-name: rotateOut;
}
@keyframes rotateIn
{
      0% { transform: rotate(0); }
    100% { transform: rotate(-240deg); }
}
@keyframes rotateOut
{
      /* 0% { transform: rotate(-240deg); } */
      0% { transform: rotate(-360deg); }
    100% { transform: rotate(-360deg); }
}