.GameHeader {
	display: grid;
	gap: 8vmin;
	align-items: start;
	color: #DDD;
	z-index: 99;
}

.GameHeader > .players {
	max-width: 30vmin;
	font-size: 5vmin;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: 0fr 1fr 0fr 1fr;
	align-items: center;
}

.GameHeader > .players > img.bullet {
	width: 0.5em;
	height: 0.5em;
	margin-right: 0.25em;
	grid-column-start: 1;
	grid-row: 2 / span 2;
	background: lightgray;
	mask: url(../media/bullet.svg) no-repeat;
	mask-size: contain;
}

.GameHeader > .players > .name {
	grid-column-start: 2;
	margin-right: 0.75em;
}

.GameHeader > .players > .score {
	color: white;
}

.GameHeader > .play-again {
	max-width: 20vmin;
	font-size: 4vmin;
	display: grid;
	grid-template-rows: repeat(2, auto);
	gap: 2vmin;
	justify-items: center;
	text-align: center;
	word-wrap: normal;
}

.icon-again {
	background: lightgray;
	width: 1.5em;
	height: 1.5em;
	mask: url(../media/again.svg) no-repeat;
	mask-size: contain;
}

.icon-again:hover {
  background: white;
}

.GameHeader > .play-again .icon-again {
	width: 1.5em;
	height: 1.5em;
	transform-origin: center center;
}

/* Animations */

.animate
{
	animation-fill-mode: both;
	animation-timing-function: ease-out;
}

.animate.fast
{
	animation-duration: 150ms;
}

/* Bullet's row animation */

.GameHeader > .players.animate.row1 {
	animation-name: toRow1;
}
.GameHeader > .players.animate.row2 {
	animation-name: toRow2;
}
@keyframes toRow1
{
	0%   { grid-template-rows: 1fr 0fr 1fr 0fr; }
	100% { grid-template-rows: 0fr 1fr 0fr 1fr; }
}
@keyframes toRow2
{
	0%   { grid-template-rows: 0fr 1fr 0fr 1fr; }
	100% { grid-template-rows: 1fr 0fr 1fr 0fr; }
}
.blah {
	height: 100%;
}

/* Rotaion animations */

.rotateIn {
	animation-name: rotateIn;
}
.rotateOut {
	animation-name: rotateOut;
}
@keyframes rotateIn
{
	  0% { transform: rotate(0); }
	100% { transform: rotate(-240deg); }
}
@keyframes rotateOut
{
	  /* 0% { transform: rotate(-240deg); } */
	  0% { transform: rotate(-360deg); }
	100% { transform: rotate(-360deg); }
}