.GameHeader {
	display: grid;
	gap: 8vmin;
	align-items: start;
	color: #DDD;
}

.GameHeader > .players {
	max-width: 30vmin;
	font-size: 5vmin;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: 0fr 1fr 0fr 1fr;
	align-items: center;
}

.GameHeader > .players > img.bullet {
	width: 0.5em;
	height: 0.5em;
	margin-right: 0.25em;
	grid-column-start: 1;
	grid-row: 2 / span 2;
	background: lightgray;
	mask: url(../media/bullet.svg) no-repeat;
	mask-size: contain;
}

.GameHeader > .players > .name {
	grid-column-start: 2;
	margin-right: 0.75em;
}

.GameHeader > .players > .score {
	color: white;
}

/*** Animations ***/

.animate {
	animation-fill-mode: both;
	animation-timing-function: ease-out;
}

.animate.fast {
	animation-duration: 150ms;
}

/* Bullet's row animation */

.GameHeader > .players.animate.row1 {
	animation-name: toRow1;
}
.GameHeader > .players.animate.row2 {
	animation-name: toRow2;
}
@keyframes toRow1
{
	0%   { grid-template-rows: 1fr 0fr 1fr 0fr; }
	100% { grid-template-rows: 0fr 1fr 0fr 1fr; }
}
@keyframes toRow2
{
	0%   { grid-template-rows: 0fr 1fr 0fr 1fr; }
	100% { grid-template-rows: 1fr 0fr 1fr 0fr; }
}